*{ 
    margin: 0;
    padding: 0;
}
body{
    background-color:purple;
}

.bg-custom{ 
    background-color: #563d7c;
}
.form-inputs{
    position:relative;
}
.form-inputs .form-control{
    height:45px; 
}

.form-inputs .form-control:focus{
    box-shadow:none;
    border:1px solid #000;
}

.form-inputs i{
    position:absolute;
    right:10px;
    top:15px;
}
.shop-bag{
    border: solid 2px #563d7c;
    height:55px;
    width:55px;
    font-size:25px;
    display:flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
    
}
.qty{
    font-size:12px;
}

.div-h1{ 
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: fantasy; 
    
}
.searchBotton{ 
    border: solid 0,5px;
    background-color: #563d7c;
    color: white;
}
/*saludo*/
.green{ 
    background-color: rgb(99, 189, 99);
}

.div-form{ 
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
main{
    display: flex;
 }

.img-producto{ 
    width: 200px;
    height: 150px;
    
}
.producto{
    justify-content: space-around; 
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3); 
}

.precioProducto{ 
    font-weight: 700;
}